<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="C:\Users\elian\git-start\CuentosQueNoLoSon\Tales\conejito-feliz\conejito-aguacate.css">
</head>
<body>
    <header>
        <nav class="normal">

        </nav>

    </header>
    <div class="body">
        <div class="menu">
            <nav class="vertical">
    
            </nav>
        </div>
        <div class="main">
            <div class="tale">
                <div class="page">

                </div>
                <div class="page">

                </div>
            </div>        
        </div>
    </div>
    
    <footer>

    </footer>
</body>
</html>